//Background Colors
$color__background-color-primary: #3dd9ad;
$color__backgroung-color-main: rgb(240, 250, 255);
$color__background-color-link: rgb(54, 54, 54);

//Colors Typo
$color__font-link-hover: white;
$color__font-link: $color__background-color-link;
