@import "../variables/colors";

.Entete {
  position: sticky;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color__background-color-link;
  .contactLinks {
    display: flex;
  }
  .Navigation {
    flex: 6 1 0;
  }
  div {
    flex: 1 1 0;
  }
}
