@import "../variables/typo";

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: $typo__font-family-secondary;
}
*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
