@import "../variables/typo";

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: $typo__font-family;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
body {
  display: grid;
  grid-template-areas:
    "header"
    "navigation"
    "main"
    "footer";
  .App {
    .Entete {
      grid-area: header;
    }
  }
}
