@import "../variables/colors";

.LinkProjet {
  font-size: 1.1rem;
  text-align: center;
  border: 2px solid black;
  border-radius: 3px;
  padding: 0.3rem;
  flex: 1 1 0px;
  max-width: 8rem;
  text-decoration: none;
  color: white;
  background: linear-gradient(
    to right,
    $color__background-color-primary 50%,
    $color__background-color-link 50%
  );
  background-size: 200% 100%;
  background-position: 100% 0%;
  transition: background 0.3s;

  .linkText {
    padding: 0;
    margin: 0;
  }
}
.LinkProjet:hover {
  background-position: 90% 0%;
  border-color: $color__background-color-primary;
  svg,
  p {
    color: $color__background-color-primary;
  }
}
